<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ParameterMapper">
	
	<!--表名 -->
	<sql id="tableName">
		"SET_PARAMETER"
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		"DIRECT",	
		"LEADER",	
		"REGINTEGRAL",	
		"SIGNINTEGRAL",	
		"MUTUAL",	
		"MUTUALTIMES",	
		"EXCHANGE",	
		"MULTIPLE",	
		"ONEMULTIPLE",	
		"COUNT",	
		"INITIAL",	
		"SQUAD",	
		"LEVEL1",	
		"LEVEL2",	
		"LEVEL3",	
		"LEVEL4",	
		"LEVEL5",	
		"LEVEL6",	
		"LEVEL7",	
		"LEVEL8",	
		"LEVEL9",	
		"LEVEL10",	
		"WITHDRAW",	
		"FEE",	
		"REVENUE",	
		"WECHAT",
		"ALIPAY",
		"BANKCARD",
		"PHONE",
		"WECHAT1",
		"PARAMETER_ID"
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
			#{DIRECT},	
			#{LEADER},	
			#{REGINTEGRAL},	
			#{SIGNINTEGRAL},	
			#{MUTUAL},	
			#{MUTUALTIMES},	
			#{EXCHANGE},	
			#{MULTIPLE},	
			#{ONEMULTIPLE},	
			#{COUNT},	
			#{INITIAL},	
			#{SQUAD},	
			#{LEVEL1},	
			#{LEVEL2},	
			#{LEVEL3},	
			#{LEVEL4},	
			#{LEVEL5},	
			#{LEVEL6},	
			#{LEVEL7},	
			#{LEVEL8},	
			#{LEVEL9},	
			#{LEVEL10},	
			#{WITHDRAW},	
			#{FEE},	
			#{REVENUE},	
			#{PHONE},
			#{WECHAT1},
			'parameter'
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			"PARAMETER_ID" = #{PARAMETER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
			set 
				"DIRECT" = #{DIRECT},	
				"LEADER" = #{LEADER},	
				"REGINTEGRAL" = #{REGINTEGRAL},	
				"SIGNINTEGRAL" = #{SIGNINTEGRAL},	
				"MUTUAL" = #{MUTUAL},	
				"MUTUALTIMES" = #{MUTUALTIMES},	
				"EXCHANGE" = #{EXCHANGE},	
				"MULTIPLE" = #{MULTIPLE},	
				"ONEMULTIPLE" = #{ONEMULTIPLE},	
				"COUNT" = #{COUNT},	
				"INITIAL" = #{INITIAL},	
				"SQUAD" = #{SQUAD},	
				"LEVEL1" = #{LEVEL1},	
				"LEVEL2" = #{LEVEL2},	
				"LEVEL3" = #{LEVEL3},	
				"LEVEL4" = #{LEVEL4},	
				"LEVEL5" = #{LEVEL5},	
				"LEVEL6" = #{LEVEL6},	
				"LEVEL7" = #{LEVEL7},	
				"LEVEL8" = #{LEVEL8},	
				"LEVEL9" = #{LEVEL9},	
				"LEVEL10" = #{LEVEL10},	
				"WITHDRAW" = #{WITHDRAW},
				"FEE" = #{FEE},	
				"REVENUE" = #{REVENUE},	
				"WECHAT" = #{WECHAT},
				"ALIPAY" = #{ALIPAY},
				"BANKCARD" = #{BANKCARD},
				"WECHAT1" = #{WECHAT1},
				"PHONE" = #{PHONE},
			"PARAMETER_ID" = "PARAMETER_ID"
			where 
				"PARAMETER_ID" = 'parameter'
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			"PARAMETER_ID" = 'parameter'
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			"PARAMETER_ID" in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>